body {
  background: #F2F2F2;
  font-family: -apple-system;
  font-weight: lighter;
  margin-bottom: .5em;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-box {
  min-width: 13em;
  max-width: 26em;
  background: #fff;
  margin: 1em;
  padding: 2em 2em 2em 2em;
}

.title-text {
  border-bottom: 1px solid #f2f2f2;
  font-weight: lighter;
  padding-bottom: 0.4em;
}

.title-logo {
  height: 59px;
  width: 57px;
  vertical-align: middle;
  padding-right: 1em;
}

.breakage-icon {
  background: url('/data/panel/img/report.svg');
  block-size: 30px;
  display: inline-block;
  inline-size: 25px;
  margin: 0 .25em;
  vertical-align: middle;
}
